:root {
  --accentColor: rgb(61, 129, 104);
  --mainText: rgb(108, 114, 137);
  --bgColor: hsl(30, 38%, 92%);
  --secondaryText: rgb(28, 35, 43);
  --white: #fff;
}

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  border-radius: 10px;
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
  width: 343px;


  @media screen and (min-width: 768px) {
    max-width: 600px;
    height: 450px;
  }

}
